/* navbar */

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav li {
    display: inline;
}


/* banner */

.banner {
    border: 1px solid black;
    display: grid;
    grid: ;
}

.logo {
    border: 1px solid black;
    margin-left: 0px;
    padding-left: 0px;
    width: 30%;
    height: 20%;
}


/* TODO:make a grid for banner with one row and four colums */


/* the first column will contain logo  */


/* second column will contain text  */


/* third will contain image  */